
<!DOCTYPE html>
<html>
<head>
	<title>Vivamos.nu</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
	<div id="content">
		<div id="main_image_content_holder" class="margined">
			<%= yield %>
		</div>
	</div>
</body>
</html>