<% @i = 0 %>


<div id="image_content_holder" class="margined image_content">


			<% @get_pics.each do |bild| %> 

				<div class="image_div">
					<img src="../<%="#{bild.gsub("/public","")}"%>" class="image">
				</div>

			<% end %>

</div>