

<div id="main" class="margined">
	<% if @broken == true %>
		<p class="main_text">Sidan hittades inte.</p>
		<p class="main_text"> <a href="/">Klicka här för att komma till hemsidan</a> </p>
	<% end %>
</div>