<div id="main" class="margined active_specialresor">

	<% @paragraph.each do |line| %>
		<p class="main_text"><%= line.gsub("POP", "'") %></p>
	<% end %>
	<center>
		<p>
			<img src="/bilder/specialresor/<%=File.basename(@bilder_specialresor[0])%>">
		</p>
	</center>
	<p class="main_text">
		<a href="javascript:popUp('/bilder/specialresor')">Mer bilder</a>
	</p>
</div>