<% text = "vivamos.nu erbjuder konsulttjänster med tonvikt på verkstadsteknik, projekt och verksamhetsledning.",
"Uppdragen utförs av Torsten Carlsson, IWE, Internationell Welding Engineer, med 40 års erfarenhet av svensk och internationell verkstadsindustri.",
"I bagaget: Plåtpressning, verktyg, inprovning, produktionsteknik, lasersvetsning, teknikutveckling (ledning), teknikprojekt (ledning), verksamhetsledning (fabriksledningsnivå), produktionsstrukturering (projektledning).",
"För mer info, kontakta Torsten Carlsson: torstencarlsson@vivamos.nu Telefon: 0738 146141" %>


<div id="main" class="margined">
	<% text.each do |text_paragraph| %>
		<p class="main_text"><%= text_paragraph %></p>
	<% end %>
</div>
